<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let Us Be Part of Your Team</h2>
                <hr class="light">
                <p class="text-faded">We provide legal advice and representation to entrepreneurs and early stage businesses. We are dedicated to providing our clients with the highest quality legal services by buidling relatiosnhips based on trust, inclusivity, and a supportive environment. </p>
                <a href="#" class="btn btn-default btn-xl">Get in Touch</a>
            </div>
        </div>
    </div>
</section>
